[Unit]
Description=Facebook Misc Ipmi Read

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/fb-yv2-misc
Type=dbus
BusName=xyz.openbmc_project.Misc.Ipmi

[Install]
WantedBy=sysinit.target

